Options -MultiViews
<IfModule mod_rewrite.c>
     RewriteEngine on

     RewriteRule ^$ app.php?p=. [L,QSA]

     RewriteCond %{REQUEST_FILENAME} !-f
     RewriteRule ^(.+)$ app.php?p=$1 [L,QSA]
</IfModule>

DirectoryIndex app.php
