Options -MultiViews
<IfModule mod_rewrite.c>
     RewriteEngine on

     RewriteRule ^index.php$ app.php [L,E=INFO_REQUEST_URI:.,NE]
     
     RewriteCond %{REQUEST_FILENAME} !-f
     RewriteRule ^(.+)$ app.php [L,E=INFO_REQUEST_URI:$1,NE]
</IfModule>
